/* ------------------------------------------------------------------------------------------------------------------ *
 * [Sections: About]
 * ------------------------------------------------------------------------------------------------------------------ */

.about-carousel {

} // .about-carousel

.about-carousel-navigation {

  position: absolute;
  bottom: 0;
  left: var(--grid-half-gutter-width);

} // .about-carousel-navigation
