/* ------------------------------------------------------------------------------------------------------------------ *
 * [Component: Bootstrap: Dropdown]
 * ------------------------------------------------------------------------------------------------------------------ */

// ---------------------------------------------------------------------------------------------------------------------
// Basic Styles
// ---------------------------------------------------------------------------------------------------------------------

.dropdown-menu {
  border-radius: 0;
} // .dropdown-menu


// ---------------------------------------------------------------------------------------------------------------------
// Dropdown Large
// ---------------------------------------------------------------------------------------------------------------------

.dropdown-large {
  position: static;
} // .dropdown-large

.dropdown-menu-large {
  width: 100%;
  position: relative;
} // .dropdown-menu-large
